<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  {{#if title}}
  <title>{{title}} – {{pkg.description}}</title>
  {{else}}
  <title>{{pkg.description}}</title>
  {{/if}}
  <meta name="description" content="{{description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="stylesheet" href="https://use.fontawesome.com/bcd9d58188.css">
  <!-- begin:css -->
  <!-- end:css -->
</head>
